<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "#{@user.legislators.first.photo_url}" %>
      </br>
      <%= @user.legislators.first.full_name %>
      </br>
      <%= "District: #{@user.legislators.first.district}" %>
    </div>
    <div class="col-md-6">
      <%= image_tag "#{@user.legislators.last.photo_url}" %>
      </br>
      <%= @user.legislators.last.full_name %>
      </br>
      <%= "District: #{@user.legislators.last.district}" %>
    </div>
  </div>
</div>
