<div class="notifications-container">
  <div class="notifications-header">Here are your representatives from the Colorado General Assembly!</div>
    <div class="row row-custom">
      <div class="col-md-6">
        <%= link_to(image_tag(@user.legislators.first.photo_url, class: "legislator-photos"), legislator_path(@user.legislators.first))%>
        </br> 
        <%= @user.legislators.first.full_name %>
        </br>
        <%= @user.legislators.first.email %>
      </div>
      <div class="col-md-6">
        <%= link_to(image_tag(@user.legislators.last.photo_url, class: "legislator-photos"), legislator_path(@user.legislators.last))%>
        </br> 
        <%= @user.legislators.last.full_name %>
        </br>
        <%= @user.legislators.last.email %>
      </div>
    </div>
  <div class="notifications-subheader"><%= link_to "Click here to opt-in and recieve your first email notification", notifications_opt_in_path %></div>
</div>