<div class="container">
  <div class="user-profile">
    <% if !@user.district %>
      <p class="add-district">Enter your address and we'll find your district for you.</p>
      <div class="row">
        <div class="span6 offset3">
        <%= form_tag(geolocate_user_path(@user), method: "post") do %>
          <%= label_tag(:address, "Address:") %>
          <%= text_field_tag(:address) %>
          <%= submit_tag("Find my people") %>
        <% end %>
        </div>
    <% else %>
      <p><%= "Your district: #{@user.district}" %></p>
      <% @user.legislators.each do |leg| %>
        <p><%= leg.full_name %></p>
        <p><%= leg.email %></p>
      <% end %>
    <% end %>
  </div>
</div>

