<div class="user-profile">
  <p class="initial-user-info">Enter your address and email to get started with notifications!</p>

  <div class="address-email-form">
    <% if @user.legislators.empty? %>
      <%= form_tag(geolocate_user_path(@user), method: "post") do %>
        <div class="address-field">
          <%= label_tag(:address, "Address:") %>
          <%= text_field_tag(:address) %>
          <%= submit_tag("Find my people") %>
        </div>
      <% end %>
    <% else %>
      <div>Address added!</div>
    <% end %>
      <% if @user.email.nil? %>
      <%= form_for(@user) do |f| %>
        <div class="email-field">
          <%= f.label :email, "Email:" %>
          <%= f.text_field :email %>
          <%= f.submit "Add my email" %>
        </div>
      <% end %>
      <% else %>
        <div>Email added!</div>
      <% end %>
    </div>

    <div class="proceed-notifications">
      <% unless @user.legislators.empty? && @user.email.nil? %>
        <%= link_to "Click here to manage your notifications!", notifications_user_path(@user), class: "proceed-link" %>
      <% end %>
    </div>
  </div>
</div>
