<%= @legislators.in_groups_of(4, false) do |legislators| %>
  <div class="row row-custom">
    <div class="col-md-3">
      <%= link_to(image_tag(legislators[0].photo_url, class: "legislator-photos"), legislator_path(legislators[0]))%>
      </br>
      <%= "#{legislators[0].full_name} #{legislators[0].party_letter_in_paren}" %>
      </br>
      <%= legislators[0].email %>
    </div>
    <div class="col-md-3">
      <%= link_to(image_tag(legislators[1].photo_url, class: "legislator-photos"), legislator_path(legislators[1]))%>
      </br>
      <%= "#{legislators[1].full_name} #{legislators[1].party_letter_in_paren}" %>
      </br>
      <%= legislators[1].email %>
    </div>
    <div class="col-md-3">
      <%= link_to(image_tag(legislators[2].photo_url, class: "legislator-photos"), legislator_path(legislators[2]))%>
      </br>
      <%= "#{legislators[2].full_name} #{legislators[2].party_letter_in_paren}" %>
      </br>
      <%= legislators[2].email %>
    </div>
    <div class="col-md-3">
      <%= link_to(image_tag(legislators[3].photo_url, class: "legislator-photos"), legislator_path(legislators[3]))%>
      </br>
      <%= "#{legislators[3].full_name} #{legislators[3].party_letter_in_paren}" %>
      </br>
      <%= legislators[3].email %>
    </div>
  </div>
<% end %>
